.cardLink {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  background-color: var(--mantine-color-dark-6);
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: white;
    background-color: var(--mantine-color-dark-5);
  }
}

.barSegment {
  height: rem(8);
}

.leftBar {
  border-radius: rem(5) 0 0 rem(5);
  background-color: var(--mantine-color-pink-5);
}

.middleBar {
  border-radius: 0;
  background-color: var(--mantine-color-violet-5);
}

.rightBar {
  border-radius: 0 rem(5) rem(5) 0;
  background-color: var(--mantine-color-blue-5);
}

.indicatorRulerAllocated {
  width: 100%;
  height: rem(2);
  background-color: var(--mantine-color-violet-5);
  border-radius: rem(20);
}

.indicatorRulerDistributed {
  width: 100%;
  height: rem(2);
  background-color: var(--mantine-color-pink-5);
  border-radius: rem(20);
}
.indicatorRulerAvailable {
  width: 100%;
  height: rem(2);
  background-color: var(--mantine-color-blue-5);
  border-radius: rem(20);
}
