.root {
  &[data-variant='secondary'] {
    background-color: var(--mantine-color-dark-5);
    &:hover {
      background-color: var(--mantine-color-dark-4);
    }
  }
  &[data-variant='priority'] {
    background-image: linear-gradient(
      45deg,
      var(--mantine-color-pink-6),
      var(--mantine-color-violet-6),
      var(--mantine-color-pink-6)
    );
    transition: background-image 200ms;
    &:hover {
      background-image: linear-gradient(
        45deg,
        var(--mantine-color-pink-5),
        var(--mantine-color-violet-5),
        var(--mantine-color-pink-5)
      );
    }
  }
  &[data-variant='menu'] {
    background-color: var(--mantine-color-blue-2);
    color: var(--mantine-color-blue-8);
    border-radius: var(--mantine-radius-xl);
    width: 180px;
    transition:
      background-color 100ms,
      color 100ms;
    &:hover {
      background-color: var(--mantine-color-blue-1);
      color: var(--mantine-color-blue-7);
    }
    &:disabled {
      background-color: var(--mantine-color-gray-6);
      color: var(--mantine-color-gray-9);
    }
  }
}
