.banner {
  background-image: url('https://media.discordapp.net/attachments/1137421257663598722/1227392096877547570/banner-o.png?ex=66283cf7&is=6615c7f7&hm=94cb8252465704f02f53b2aae32c839cdba01af140cb7bd29955f96b9eaca10a&=&format=webp&quality=lossless&width=1440&height=480');
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--mantine-color-dark-8);
  overflow: hidden; /* Ensure gradients don't extend outside the banner */
}

.banner::after {
  content: ''; /* Horizontal fade */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20%; /* Adjust the width of the fade effect as needed */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--mantine-color-dark-7)
  );
  z-index: 2; /* Adjust if necessary */
}

.banner::before {
  content: ''; /* Vertical fade */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20%; /* Adjust the height of the fade effect as needed */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    var(--mantine-color-dark-7) 100%
  );
  z-index: 1; /* Adjust if necessary */
}
