.statusBox {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: rem(98);
  min-width: rem(61);
}

.statusContentBox {
  min-height: rem(30);
  border-left: 2px solid var(--mantine-color-blue-7);
  margin-left: rem(16);
}

.statusContentBoxNotActive {
  border-left: 2px solid var(--mantine-color-gray-8);
}

.statusIcon {
  border-radius: 50%;
  border: 2px solid var(--mantine-color-blue-7);
  height: rem(32);
  width: rem(32);
  align-items: center;
  justify-content: center;
  margin-bottom: rem(4);
}

.statusIconRedBorder {
  border: 2px solid var(--mantine-color-red-7);
}

.statusIconInactive {
  border: 2px solid var(--mantine-color-gray-8);
}

.statusIconYellowBorder {
  border: 2px solid var(--mantine-color-yellow-7);
}

.statusIconSolid {
  background-color: var(--mantine-color-blue-7);
}

.statusIconSolidRed {
  background-color: var(--mantine-color-red-9);
  border: 2px solid var(--mantine-color-red-9);
}
